$primary: #434DB8;
$primary-light: #ECEDF8;
$white: #FFFFFF;
$TextColour:#3C3838;
$IconsDefaultColour:#808080;
$BorderColour:#E0E0E0;
$PlaceHolderColour:#C4C3C3;
$DisableColour:#D8D7D7;
$HoverColour:#E0E0E0;
$ViewPopup-TextColour:#5E6C84;
$ViewPopup-LabelColour:#172B4D;
$EditPopup-LabelColour:#8F8E8E;
$Success:#5CA700;
$Error:#C50303;
$Warning:#FFC600;
$black:#00000029