.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown-label {
  font-size: 12px;
  color: rgb(76, 76, 250);
  width: 63px;
  height: 20px;
  background-color: white;
  position: relative;
  top: 15px;
  left: 11px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: sans-serif;
}
.dropdown-select {
  margin-top: 4px;
  padding: 10px;
  border: 1px solid rgb(76, 76, 250);;
  border-radius: 4px;
  font-size: 13px;
  padding-left: 3px;
  font-family: sans-serif;
  width: 500px;
  

}